# How would Height of the basketball player affect the force it takes to make a free throw?

In [1]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim.py module
from modsim import *

Fm = S (w Ã— v)

In [2]:
m = UNITS.meter
s = UNITS.second
kg = UNITS.kilogram
degree = UNITS.degree
rad = UNITS.radian

In [3]:

params = Params(x = 0 * m,                   # x coordinate of the basketball
                y = 0 * m,                   # y coordinate of the basketball
                omega = 0 * rad / s ** 2,    # velocity
                rho = 1.2 * kg / m ** 3,     # mass density of the fluid
                C_d = 0.54,                  # drag coefficient of a basketball
                x_dist = 4.9 * m,            # horizontal distance of player to net
                y_dist = 3.05 * m,           # distance of the rim from ground
                v = 0 * m / s,               # velocity of the basketball
                S = 0.47,                    # air resistance coefficient of spheres
                g = 9.8 * m/s**2,            # gravity
                angle = 52 * degree,         # launch angle of the basketball
                mass = 0.625 * kg,           # mass of the basketball
                diameter = 0.23 * m,        # diameter of the basketball
                t_end = 10 * s)

x                             0 meter
y                             0 meter
omega        0.0 radian / second ** 2
rho         1.2 kilogram / meter ** 3
C_d                              0.54
x_dist                      4.9 meter
y_dist                     3.05 meter
v                  0.0 meter / second
S                                0.47
g             9.8 meter / second ** 2
angle                       52 degree
mass                   0.625 kilogram
diameter                   0.23 meter
t_end                       10 second
dtype: object

In [4]:
def make_system(params, v_0, height):
    """Make a system object.
    
    params: 
    
    returns: System object
    """
    unpack(params)
     # convert angle to degrees
    theta = np.deg2rad(angle)
    
    # compute x and y components of velocity
    vx, vy = pol2cart(theta, v_0)

    init = State(x = x, y = height, vx = vx, vy = vy)

    # compute area from diameter
    area = np.pi * (diameter/2)**2
    
    return System(params, init=init, area = area)

In [5]:
system = make_system(params, 0 * m / s, 1.8 * m)

x                                                     0 meter
y                                                     0 meter
omega                                0.0 radian / second ** 2
rho                                 1.2 kilogram / meter ** 3
C_d                                                      0.54
x_dist                                              4.9 meter
y_dist                                             3.05 meter
v                                          0.0 meter / second
S                                                        0.47
g                                     9.8 meter / second ** 2
angle                                               52 degree
mass                                           0.625 kilogram
diameter                                           0.23 meter
t_end                                               10 second
init        x                0 meter
y              1.8 me...
area                           0.04154756284372502 meter ** 2
dtype: object

In [6]:
def drag_force(V, system):
    """Computes drag force in the opposite direction of `V`.
    
    V: velocity
    system: System object with rho, C_d, area
    
    returns: Vector drag force
    """
    unpack(system)
    mag = -rho * V.mag**2 * C_d * area / 2
    direction = V.hat()
    f_drag = mag * direction
    return f_drag

In [7]:
def slope_func(state, t, system):
    """Computes derivatives of the state variables.
    
    state: State (x, y, x velocity, y velocity)
    t: time
    system: System object with g, rho, C_d, area, mass
    
    returns: sequence (vx, vy, ax, ay)
    """
    x, y, vx, vy = state
    unpack(system)

    V = Vector(vx, vy)    
    a_drag = drag_force(V, system) / mass
    a_grav = Vector(0, -g)
    
    a = a_grav + a_drag
    
    return vx, vy, a.x, a.y

In [8]:
def event_func(state, t, system):
    """Stop when the y coordinate is 0.
    
    state: State object
    t: time
    system: System object
    
    returns: y coordinate
    """
    x, y, vx, vy = state
    return x - 4.9

In [9]:
def height_func(v_0, height):
    system = make_system(params, v_0 = v_0, height = height)
    results, details = run_ode_solver(system, slope_func, events=event_func)
    return Vector(get_last_value(results.x) * m, get_last_value(results.y) * m)

In [10]:
height_func(20 * m /s, 1.8*  m)

In [33]:
velocities = linspace(6, 12, 41)
heights = linspace(1.6, 2.3, 50)
sweep_h = SweepSeries()

print(heights)
for h in heights:
    sweep_v = SweepSeries()
    for vel in velocities:
        vector = height_func(vel * m / s, h * m)
        if(vector.y.mag < 3.165 * m and vector.y.mag > 2.935 * m):
            print(h, vel, vector)
            sweep_v[vel] = vector
    sweep_h[h] = sweep_v.index[0]
sweep_h

[1.6        1.61428571 1.62857143 1.64285714 1.65714286 1.67142857
 1.68571429 1.7        1.71428571 1.72857143 1.74285714 1.75714286
 1.77142857 1.78571429 1.8        1.81428571 1.82857143 1.84285714
 1.85714286 1.87142857 1.88571429 1.9        1.91428571 1.92857143
 1.94285714 1.95714286 1.97142857 1.98571429 2.         2.01428571
 2.02857143 2.04285714 2.05714286 2.07142857 2.08571429 2.1
 2.11428571 2.12857143 2.14285714 2.15714286 2.17142857 2.18571429
 2.2        2.21428571 2.22857143 2.24285714 2.25714286 2.27142857
 2.28571429 2.3       ]
1.6 8.4 [4.9        3.03277826] meter
1.6142857142857143 8.4 [4.9        3.04706224] meter
1.6285714285714286 8.4 [4.9        3.06134623] meter
1.642857142857143 8.4 [4.9        3.07563025] meter
1.6571428571428573 8.4 [4.9        3.08991428] meter
1.6714285714285715 8.4 [4.9        3.10419834] meter
1.6857142857142857 8.25 [4.9        2.94305953] meter
1.6857142857142857 8.4 [4.9        3.11848242] meter
1.7 8.25 [4.9        2.95734244] meter
1.7 8.4 [4.9        3.13276652] meter
1.7142857142857144 8.25 [4.9        2.97162537] meter
1.7142857142857144 8.4 [4.9        3.14705063] meter
1.7285714285714286 8.25 [4.9        2.98590832] meter
1.7285714285714286 8.4 [4.9        3.16133477] meter
1.7428571428571429 8.25 [4.9        3.00019129] meter
1.7571428571428571 8.25 [4.9        3.01447429] meter
1.7714285714285714 8.25 [4.9       3.0287573] meter
1.7857142857142858 8.25 [4.9        3.04304034] meter
1.8 8.25 [4.9       3.0573234] meter
1.8142857142857143 8.25 [4.9        3.07160648] meter
1.8285714285714285 8.25 [4.9        3.08588958] meter
1.842857142857143 8.25 [4.9       3.1001727] meter
1.8571428571428572 8.25 [4.9        3.11445584] meter
1.8714285714285714 8.1 [4.9        2.94349558] meter
1.8714285714285714 8.25 [4.9        3.12873901] meter
1.8857142857142857 8.1 [4.9        2.95777756] meter
1.8857142857142857 8.25 [4.9        3.14302219] meter
1.9 8.1 [4.9        2.97205956] meter
1.9 8.25 [4.9        3.15730539] meter
1.9142857142857141 8.1 [4.9        2.98634158] meter
1.9285714285714286 8.1 [4.9        3.00062362] meter
1.9428571428571428 8.1 [4.9        3.01490569] meter
1.957142857142857 8.1 [4.9        3.02918778] meter
1.9714285714285713 8.1 [4.9        3.04346988] meter
1.9857142857142858 8.1 [4.9        3.05775201] meter
2.0 8.1 [4.9        3.07203417] meter
2.0142857142857142 8.1 [4.9        3.08631634] meter
2.0285714285714285 8.1 [4.9        3.10059853] meter
2.0428571428571427 8.1 [4.9        3.11488075] meter
2.057142857142857 8.1 [4.9        3.12916298] meter
2.071428571428571 7.95 [4.9        2.94762394] meter
2.071428571428571 8.1 [4.9        3.14344523] meter
2.0857142857142854 7.95 [4.9        2.96190505] meter
2.0857142857142854 8.1 [4.9        3.15772751] meter
2.0999999999999996 7.95 [4.9        2.97618618] meter
2.1142857142857143 7.95 [4.9        2.99046734] meter
2.1285714285714286 7.95 [4.9        3.00474851] meter
2.142857142857143 7.95 [4.9        3.01902971] meter
2.157142857142857 7.95 [4.9        3.03331093] meter
2.1714285714285713 7.95 [4.9        3.04759217] meter
2.1857142857142855 7.95 [4.9        3.06187343] meter
2.1999999999999997 7.95 [4.9        3.07615472] meter
2.214285714285714 7.95 [4.9        3.09043602] meter
2.2285714285714286 7.95 [4.9        3.10471735] meter
2.242857142857143 7.95 [4.9        3.11899869] meter
2.257142857142857 7.95 [4.9        3.13328006] meter
2.2714285714285714 7.8 [4.9        2.94033053] meter
2.2714285714285714 7.95 [4.9        3.14756145] meter
2.2857142857142856 7.8 [4.9        2.95461087] meter
2.2857142857142856 7.95 [4.9        3.16184286] meter
2.3 7.8 [4.9        2.96889123] meter

1.600000    8.40
1.614286    8.40
1.628571    8.40
1.642857    8.40
1.657143    8.40
1.671429    8.40
1.685714    8.25
1.700000    8.25
1.714286    8.25
1.728571    8.25
1.742857    8.25
1.757143    8.25
1.771429    8.25
1.785714    8.25
1.800000    8.25
1.814286    8.25
1.828571    8.25
1.842857    8.25
1.857143    8.25
1.871429    8.10
1.885714    8.10
1.900000    8.10
1.914286    8.10
1.928571    8.10
1.942857    8.10
1.957143    8.10
1.971429    8.10
1.985714    8.10
2.000000    8.10
2.014286    8.10
2.028571    8.10
2.042857    8.10
2.057143    8.10
2.071429    7.95
2.085714    7.95
2.100000    7.95
2.114286    7.95
2.128571    7.95
2.142857    7.95
2.157143    7.95
2.171429    7.95
2.185714    7.95
2.200000    7.95
2.214286    7.95
2.228571    7.95
2.242857    7.95
2.257143    7.95
2.271429    7.80
2.285714    7.80
2.300000    7.80
dtype: float64

In [ ]:
sweep_h.index